
	<form method="post">
		<fieldset>
			<legend>Delete Employee</legend>
			<table>
				<tr>
					<td>Employee Name  :</td>
					<td><%=username%></td>
				</tr>
				<tr>
					<td>Password :</td>
					<td><%=password%></td>
				</tr>
				<tr>
					<td>Type:</td>
					<td><%=type%></td>
				</tr>
				<tr>
					<td>Designation :</td>
					<td><%=designation%></td>
				</tr>
				<tr>
					<td>Conatct Number :</td>
					<td><%=contactNumber%></td>
				</tr>
				<tr>
					<td>Email :</td>
					<td><%=email%></td>
                </tr>
                <tr>
					<td>Salary :</td>
					<td><%=salary%></td>
				</tr>
			</table>
			<div>
				<h3>Are you sure?</h3>
				<input class="btn btn-denger" type="submit" name="submit" value="Confirm">
			</div>
		</fieldset>
	</form>
