<div class="main-container">
	<form method="post">
		<fieldset>
			<legend>Edit Event</legend>
			<table>
				<tr>
					<td>Event Name</td>
					<td><input type="text" name="eventname" value="<%=eventname%>"></td>
				</tr>
				<tr>
					<td>Event Date</td>
					<td><input type="text" name="eventdate" value="<%=eventdate%>"></td>
				</tr>
				<tr>
					<td>Expire Date</td>
					<td><input type="text" name="expiredate" value="<%=expiredate%>"></td>
				</tr>
				<tr>
					<td>Event Description</td>
					<td><input type="text" name="eventdescription" value="<%=eventdescription%>"></td>
				</tr>
				<tr>
					<td>Event Status</td>
					<td><input type="text" name="eventstatus" value="<%=eventstatus%>"></td>
				</tr>
				<tr>
					<td>Audience</td>
					<td><input type="text" name="audience" value="<%=audience%>"></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Update"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>